Octane>Analyze, "Analyze2D", edu.uchc.octane.analyze.AnalyzePlugin("analyze2D")
Octane>Analyze, "Load MM Data...", edu.uchc.octane.analyze.AnalyzePlugin("quickload")
Octane>Analyze, "Preferences", edu.uchc.octane.analyze.AnalyzePlugin("prefs")

# Octane>Analyze, "Options", edu.uchc.octane.OctanePlugin("options")
# Plugins>analyze, "HPFilter", edu.uchc.octane.hpfilter.HPFilter("")
# Plugins>Octane, "Overlay", edu.uchc.octane.overlay.Overlay("")
